services:
  agent:
    build: .
    image: "docker.io/pragya7/detrain-agent:v6" # UPDATED
    platform: linux/amd64
    volumes:
      - rofl-socket:/run/rofl-appd.sock
      - model-data:/data/model
    environment:
      - PYTHONUNBUFFERED=1
      - CONTRACT_ADDRESS=${CONTRACT_ADDRESS}
      - LIGHTHOUSE_API_KEY=${LIGHTHOUSE_API_KEY}

volumes:
  rofl-socket:
  model-data: